---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Olga from '../components/Olga.astro';
import Pillars from '../components/Pillars.astro';
import StorySection from "../components/StorySection.astro";
import Bridge from "../components/Bridge.astro";
import ServicesIndex from "../components/ServicesIndex.astro";
import About from "../components/About.astro";
import Reviews from "../components/Reviews.astro";
import Contact from "../components/Contact.astro";
import { services } from "../content/services";
---

<MainLayout>
  <main>
    <Hero />
    <Pillars />
    <Olga />
    <ServicesIndex services={services} />
    <div id="wings">
      {services.map((service, index) => (
        <>
          <StorySection service={service} />
          <Bridge paragraphs={service.bridge} />
        </>
      ))}
    </div>

    <Reviews />
    <About />
    <Contact />
  </main>
</MainLayout>
