<section class="contact" id="contact">
  <p class="script-title">Если нужна ясность</p>
  <h2>Буду рада помочь.</h2>
  <p>Напишите Ольге, чтобы выбрать формат консультации.</p>

  <div class="contact__links">
    <a href="t.me/astrologOlgaTkachenko" target="_blank" rel="noreferrer">Telegram</a>
    <!-- a href="https://wa.me/" target="_blank" rel="noreferrer">WhatsApp</a-->
  </div>
</section>
